@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.menu {
  display: none;
  padding: 1px;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  animation: smooth-appearance 0.1s ease, down-to-up 1s ease;
  transition: 1s ease;
}
.menu:before {
  content: "";
  position: absolute;
  top: 7px;
  height: 2px;
  width: 100%;
  background: #ffffff;
  transition: 0.3s ease;
}
.menu:after {
  content: "";
  position: absolute;
  bottom: 7px;
  height: 2px;
  width: 100%;
  background: #ffffff;
  transition: 0.3s ease;
}
.content {
  background-color: #000000;
  min-height: 100%;
  transition: 1s cubic-bezier(0.33, 1.01, 0.04, 0.99);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .header {
    box-sizing: border-box;
    position: absolute;
    top: -5px;
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: #000000;
    animation: smooth-appearance 1.5s ease, up-to-down 1s ease;
    .logo {
      font-weight: bold;
      color: #ffffff;
      font-size: 25px;
      animation: smooth-appearance 0.1s ease, down-to-up 1s ease;
    }

    .menu-desctop {
      list-style: none;
      display: flex;
      flex-direction: row;
      li {
        margin-right: 20px;
        a {
          text-decoration: none;
          color: white;
          transition: 0.1s ease;
        }
        a:hover {
          color: #18fbee;
        }
      }
    }
  }
  .info {
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 50px 0 0;
    width: auto;
    animation: smooth-appearance 1s ease;
    margin-top: 60px;
    .about-me {
      padding: 0 0 0 60px;
      width: 44%;
      .title {
        font-size: 22px;
        font-weight: 600;
        color: #242424;
        animation: smooth-appearance 1s ease;
        strong {
          color: #00fff2;
          font-size: 24px;
        }
      }
      .description {
        font-size: 19px;
        strong {
          color: #00fff2;
          font-size: 24px;
          animation: smooth-appearance-azure 3s ease;
        }
      }
    }
  }
  .works {
    background: #272727;
    height: 100vh;
  }
  .technologies {
    background: #272727;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .tech-title {
      color: white;
      font-size: 45px;
      text-align: center;
      margin-top: 20vh;
    }
    .slideshow-imgs {
      width: 100vw;
      background: #7575751c;
      padding: 30px;
      height: 20vh;
    }
    .slideshow-names {
      margin-bottom: 20vh;
      width: 100vw;
      height: 45px;
    }

    .container-imgs {
      position: relative;
      animation: slide-left-to-right 15s linear infinite;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .container-names {
      animation: slide-right-to-left 15s linear infinite;
      color: white;
      font-size: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 200vw;
    }

    .container-slider img {
      height: 20vh;
      margin: 0 70px;
    }
    .container-slider:hover {
      animation-play-state: paused;
    }
  }
  .contact {
    position: relative;
    background: #7d7d7d8c;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
    #after-sent {
      display: none;
      font-size: 26px;
      text-align: center;
      color: aquamarine;
    }
    .contact-title {
      font-size: 28px;
      color: #ffffff;
      // font-weight: bold;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .inputBox {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 20px 0px;
        textarea {
          resize: none;
          width: 300px;
          height: 100px;
        }
        input {
          width: 300px;
          height: 40px;
        }
        span {
          position: absolute;
          left: 10px;
          top: 25%;
          transition: 0.2s ease;
        }
        input:focus ~ span,
        input:valid ~ span {
          transform: translate3d(-10px, -35px, 0);
          color: cyan;
          font-size: 15px;
        }
        textarea:focus ~ span,
        textarea:valid ~ span {
          transform: translate3d(-10px, -50px, 0);
          color: cyan;
          font-size: 15px;
        }
        #error-message {
          position: absolute;
          width: 100%;
          top: -25px;
          color: #ffa600;
          text-align: center;
          font-size: 16px;
          font-weight: 800;
        }
      }
      .inputBox:nth-last-child(1) {
        margin-top: 40px;
        input {
          background: #2debff;
          border: none;
          cursor: pointer;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
    .media-recommend {
      color: white;
      font-size: 18px;
      position: relative;
      img {
        height: 74px;
        position: absolute;
        top: 12px;
        filter: invert(1);
      }
    }
  }
  .share-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 250px;
    justify-content: center;
    // position: absolute;
    // bottom: 20px;
    filter: invert(1);
    background-color: #ffffff0d;
    .share-btn {
      cursor: pointer;
      margin: 7px 20px;
      transition: 0.1s ease;
      img {
        height: 45px;
      }
    }
    .share-btn:hover {
      margin-top: 3px !important;
    }
  }
}
.triggered {
  .header {
    .menu:before {
      transform: rotate3d(0, 0, 1, 45deg);
      top: 15px;
    }
  }
}
.triggered {
  .header {
    .menu:after {
      transform: rotate3d(0, 0, 1, -45deg);
      bottom: 15px;
    }
  }
}
.triggered {
  transform: translate(-400px, 0px);
}
.navigation {
  background: #4d4d4d;
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  transition: 1s cubic-bezier(0.33, 1.01, 0.04, 0.99);
}
#spinner {
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: 1;
  width: 100vw;
  background: #1a1a1a80;
  animation: smooth-appearance 1s ease;
  img {
    height: 58px;
    position: absolute;
    top: 50%;
    left: 43%;
  }
}

@keyframes smooth-appearance {
  from {
    opacity: 0;
    color: rgba(0, 0, 0, 0);
  }
  to {
    opacity: 100;
    color: rgba(36, 36, 36, 1);
  }
}
@keyframes smooth-appearance-azure {
  from {
    opacity: 0;
    color: rgba(0, 0, 0, 0);
  }
  to {
    opacity: 100;
    color: rgba(0, 255, 242, 1);
  }
}

@keyframes up-to-down {
  0% {
    top: -50px;
  }
  50% {
    top: 0;
  }
  100% {
    top: -5px;
  }
}

@keyframes down-to-up {
  from {
    margin-bottom: -50px;
  }
  to {
    margin-bottom: 0px;
  }
}

@keyframes slide-left-to-right {
  0% {
    transform: translateX(-160%);
  }
  100% {
    transform: translateX(160%);
  }
}

@keyframes slide-right-to-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-left-to-right-mob {
  0% {
    transform: translateX(-350%);
  }
  100% {
    transform: translateX(350%);
  }
}

@keyframes slide-right-to-left-mob {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 656px) {
  .content {
    background-size: auto !important;
  }
  .triggered {
    transform: translate(-80vw, 0px);
  }
  .navigation {
    z-index: 2;
    background: #4d4d4d;
    position: fixed;
    top: 0;
    right: -80vw;
    width: 80vw;
    height: 100vh;
    transition: 1s cubic-bezier(0.33, 1.01, 0.04, 0.99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .nav-item {
      margin: 20px 0;
      a {
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }
  .about-me {
    width: fit-content !important;
    padding: 0 0 0 30px !important;
  }
  .menu-desctop {
    display: none !important;
  }
  .menu {
    display: block !important;
    position: fixed !important;
    right: 8vw !important;
    top: 1.5vh;
    z-index: 1 !important;
  }
  .container-imgs {
    animation: slide-left-to-right-mob 15s linear infinite !important;
  }
  .container-names {
    animation: slide-right-to-left-mob 15s linear infinite !important;
    font-size: 18px !important;
  }
  .tech-title {
    color: white;
    font-size: 30px !important;
    text-align: center;
    margin-top: 20vh;
  }
  .media-recommend {
    color: white;
    font-size: 15px !important;
    position: relative;
    img {
      height: 57px !important;
    }
  }
}
