@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.content {
  background-color: #000000;
  min-height: 100%;
  transition: 1s cubic-bezier(0.33, 1.01, 0.04, 0.99);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .header {
  box-sizing: border-box;
  position: absolute;
  top: -5px;
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #000000;
  animation: smooth-appearance 1.5s ease, up-to-down 1s ease;
}
.content .header .logo {
  font-weight: bold;
  color: #ffffff;
  font-size: 25px;
  animation: smooth-appearance 0.1s ease, down-to-up 1s ease;
}
.content .header .menu {
  display: none;
  padding: 1px;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  animation: smooth-appearance 0.1s ease, down-to-up 1s ease;
  transition: 1s ease;
}
.content .header .menu:before {
  content: "";
  position: absolute;
  top: 7px;
  height: 2px;
  width: 100%;
  background: #ffffff;
  transition: 0.3s ease;
}
.content .header .menu:after {
  content: "";
  position: absolute;
  bottom: 7px;
  height: 2px;
  width: 100%;
  background: #ffffff;
  transition: 0.3s ease;
}
.content .header .menu-desctop {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.content .header .menu-desctop li {
  margin-right: 20px;
}
.content .header .menu-desctop li a {
  text-decoration: none;
  color: white;
  transition: 0.1s ease;
}
.content .header .menu-desctop li a:hover {
  color: #18fbee;
}
.content .info {
  background-image: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 50px 0 0;
  width: auto;
  animation: smooth-appearance 1s ease;
  margin-top: 60px;
}
.content .info .about-me {
  padding: 0 0 0 60px;
  width: 44%;
}
.content .info .about-me .title {
  font-size: 22px;
  font-weight: 600;
  color: #242424;
  animation: smooth-appearance 1s ease;
}
.content .info .about-me .title strong {
  color: #00fff2;
  font-size: 24px;
}
.content .info .about-me .description {
  font-size: 19px;
}
.content .info .about-me .description strong {
  color: #00fff2;
  font-size: 24px;
  animation: smooth-appearance-azure 3s ease;
}
.content .works {
  background: #272727;
  height: 100vh;
}
.content .technologies {
  background: #272727;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .technologies .tech-title {
  color: white;
  font-size: 45px;
  text-align: center;
  margin-top: 20vh;
}
.content .technologies .slideshow-imgs {
  width: 100vw;
  background: #7575751c;
  padding: 30px;
  height: 20vh;
}
.content .technologies .slideshow-names {
  margin-bottom: 20vh;
  width: 100vw;
  height: 45px;
}
.content .technologies .container-imgs {
  position: relative;
  animation: slide-left-to-right 15s linear infinite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content .technologies .container-names {
  animation: slide-right-to-left 15s linear infinite;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200vw;
}
.content .technologies .container-slider img {
  height: 20vh;
  margin: 0 70px;
}
.content .technologies .container-slider:hover {
  animation-play-state: paused;
}
.content .contact {
  background: #7d7d7d8c;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px;
}
.content .contact .contact-title {
  font-size: 28px;
  color: #ffffff;
}
.content .contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .contact form .inputBox {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 0px;
}
.content .contact form .inputBox input {
  width: 300px;
  height: 40px;
}
.content .contact form .inputBox span {
  position: absolute;
  left: 10px;
  top: 25%;
  transition: 0.2s ease;
}
.content .contact form .inputBox input:focus ~ span,
.content .contact form .inputBox input:valid ~ span {
  transform: translate3d(-10px, -35px, 0);
  color: cyan;
  font-size: 15px;
}
.content .contact form .inputBox #error-message {
  position: absolute;
  width: 100%;
  top: -25px;
  color: #ffa600;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
}
.content .contact form .inputBox:nth-last-child(1) {
  margin-top: 40px;
}
.content .contact form .inputBox:nth-last-child(1) input {
  background: #2debff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
.content .contact .media-recommend {
  color: white;
  font-size: 18px;
  position: relative;
}
.content .contact .media-recommend img {
  height: 74px;
  position: absolute;
  top: 12px;
  filter: invert(1);
}
.content .share-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 250px;
  justify-content: center;
  filter: invert(1);
  background-color: #ffffff0d;
}
.content .share-buttons .share-btn {
  cursor: pointer;
  margin: 7px 20px;
  transition: 0.1s ease;
}
.content .share-buttons .share-btn img {
  height: 45px;
}
.content .share-buttons .share-btn:hover {
  margin-top: 3px !important;
}

.triggered .header .menu:before {
  transform: rotate3d(0, 0, 1, 45deg);
  top: 15px;
}

.triggered .header .menu:after {
  transform: rotate3d(0, 0, 1, -45deg);
  bottom: 15px;
}

.triggered {
  transform: translate(-400px, 0px);
}

.navigation {
  background: #4d4d4d;
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  transition: 1s cubic-bezier(0.33, 1.01, 0.04, 0.99);
}

@keyframes smooth-appearance {
  from {
    opacity: 0;
    color: rgba(0, 0, 0, 0);
  }
  to {
    opacity: 100;
    color: #242424;
  }
}
@keyframes smooth-appearance-azure {
  from {
    opacity: 0;
    color: rgba(0, 0, 0, 0);
  }
  to {
    opacity: 100;
    color: #00fff2;
  }
}
@keyframes up-to-down {
  0% {
    top: -50px;
  }
  50% {
    top: 0;
  }
  100% {
    top: -5px;
  }
}
@keyframes down-to-up {
  from {
    margin-bottom: -50px;
  }
  to {
    margin-bottom: 0px;
  }
}
@keyframes slide-left-to-right {
  0% {
    transform: translateX(-160%);
  }
  100% {
    transform: translateX(160%);
  }
}
@keyframes slide-right-to-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide-left-to-right-mob {
  0% {
    transform: translateX(-350%);
  }
  100% {
    transform: translateX(350%);
  }
}
@keyframes slide-right-to-left-mob {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 656px) {
  .content {
    background-size: auto !important;
  }

  .triggered {
    transform: translate(-80vw, 0px);
  }

  .navigation {
    background: #4d4d4d;
    position: fixed;
    top: 0;
    right: -80vw;
    width: 80vw;
    height: 100vh;
    transition: 1s cubic-bezier(0.33, 1.01, 0.04, 0.99);
  }

  .about-me {
    width: fit-content !important;
    padding: 0 0 0 30px !important;
  }

  .menu-desctop {
    display: none !important;
  }

  .menu {
    display: block !important;
  }

  .container-imgs {
    animation: slide-left-to-right-mob 15s linear infinite !important;
  }

  .container-names {
    animation: slide-right-to-left-mob 15s linear infinite !important;
    font-size: 18px !important;
  }

  .tech-title {
    color: white;
    font-size: 30px !important;
    text-align: center;
    margin-top: 20vh;
  }

  .media-recommend {
    color: white;
    font-size: 15px !important;
    position: relative;
  }
  .media-recommend img {
    height: 57px !important;
  }
}

/*# sourceMappingURL=styles.css.map */
